doctype 5
html(lang='en')
	head
		title #mcconnelling
		
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="description", content="")
		meta(name="keywords", content="mcconnelling mitch mcconnell meme daily show turtleman")
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
		
		block styles
			link(rel='stylesheet', href='/styles/mcconnelling.css')
	
	block vars

	body
		include includes/header
		block content
		include includes/footer
		
		block scripts
			script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
			script.
				window.jQuery || document.write('<script src="scripts/jquery-2.0.3.min.js"><\/script>')  

			if dev
				script(src='/scripts/mcconnelling.js')
				script.
					(function () {
						var src = location.protocol + '//' + location.hostname + ':35729/livereload.js';
						$.getScript(src);
					}());
			else	
				script(src='/scripts/mcconnelling.min.js')